# Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [18]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [19]:
address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [20]:
# Notice that it is a tab-separated file
chipo = pd.read_csv(address, sep = '\t')

### Step 4. See the first 10 entries, understand what you have in the data set.

In [21]:
chipo.shape

(4622, 5)

In [22]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [8]:
chipo.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 5. What is the number of observations in the dataset?

In [11]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [12]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [15]:
for name in chipo.columns:
    print name

order_id
quantity
item_name
choice_description
item_price

### Step 8. Print the index of the dataset

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which is the most common item in the ``item_name`` column?

In [35]:
#chipo['item_name'].value_counts()

### Step 10. How many different items appear in the dataset?

In [23]:
chipo['item_name'].nunique()

50

### Step 11. What was the most ordered item in the choice_description column?

In [34]:
chipo['choice_description'].value_counts().idxmin()

'[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Guacamole]]'

### Step 12. How many items were ordered in total?

In [37]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [69]:
chipo['item_price'].astype(float) #.str.replace("$","").str.strip().astype(float)

ValueError: could not convert string to float: $8.75

### Step 13. How much was the revenue for the period in the dataset?

In [50]:
# Hint: To transform the price column into a column of floats:
# slice each string to get rid of the $ symbol and then use strip() method to get rid of any space
chipo['price'] = pd.Series([float(x.replace('$','').strip()) for x in chipo['item_price']])
# finaly use float() to transform the string into a float, you can use list comprehensions with Pandas Series
chipo['total'] = chipo['price']*chipo['quantity']

In [51]:
chipo['total'].sum()

39237.020000000055

### Step 14. How many orders were made in the period?

In [58]:
#chipo.order_id.value_counts().size
chipo.order_id.nunique()

1834

In [61]:
chipo.order_id.value_counts().unique()

array([23, 14, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

### Step 15. What is the average amount per order?

In [55]:
# This will be total revenue/number  of orders
chipo['total'].sum() / chipo.order_id.nunique()

21.3942311886587