In [ ]:
import numpy as np
import pandas as pd

# Pandas DataFrames

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:

* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* Structured or record ndarray
* A Series
* Another DataFrame

<img src="img/df1.jpg">

Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. If axis labels are not passed, they will be constructed from the input data based on common sense rules.

Here's an example where we have set the Dates column to be the index and label for the rows. 

<img src="img/df2.jpg">

## Creation of DataFrames

### Using Dictionaries

In [ ]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

d

In [ ]:
df = pd.DataFrame(d)
df

### From a Dictionary of ndarrays / lists

The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be ``range(n)``, where n is the array length.

In [ ]:
d = {'first' : [1., 2., 3., 4.], 'second' : [4., 3., 2., 1.], 'third':np.random.randint(10,20,4)}

In [ ]:
df = pd.DataFrame(d)
df

### From a Numpy Array

In [ ]:
data = np.random.randint(0,2,size=(5,3))
data

In [ ]:
col_names = ['simulation1','simulation2','simulation3']
index_list = list('abcde')

In [ ]:
df = pd.DataFrame(data, index=index_list, columns=col_names)
df

### From a file

In [ ]:
titanic = pd.read_csv('../datasets/titanic/titanic.csv')

In [ ]:
titanic

### Anatomy of a DataFrame

A DataFrame consists on three parts:
* Row Index
* Columns Names (Column Index)
* Data

The row and column labels can be accessed respectively by accessing the ``index`` and ``columns`` attributes:

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

## Column selection, addition, deletion

You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [ ]:
titanic.columns

In [ ]:
titanic['name']

In [ ]:
del titanic['ticket']
titanic.columns

In [ ]:
titanic['age_in_months'] = 12*titanic['age']

In [ ]:
titanic.columns

When inserting a scalar value, it will naturally be propagated to fill the column:

In [ ]:
titanic['year'] = 1909
titanic['year']

You can insert raw ndarrays but their length must match the length of the DataFrameâ€™s index.

In [ ]:
len(titanic)

In [ ]:
titanic['rand_integer'] = np.random.randint(0,10,size=len(titanic))

You can select many columns by passing a list of column names:

In [ ]:
titanic[['name','survived','sex','age']]

### Go to Excercises

## The basics of indexing / row selection

<table border="1" class="docutils">
<colgroup>
<col width="50%">
<col width="33%">
<col width="17%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Operation</th>
<th class="head">Syntax</th>
<th class="head">Result</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Select column</td>
<td><tt class="docutils literal"><span class="pre">df[col]</span></tt></td>
<td>Series</td>
</tr>
<tr class="row-odd"><td>Select row by label</td>
<td><tt class="docutils literal"><span class="pre">df.loc[label]</span></tt></td>
<td>Series</td>
</tr>
<tr class="row-even"><td>Select row by integer location</td>
<td><tt class="docutils literal"><span class="pre">df.iloc[loc]</span></tt></td>
<td>Series</td>
</tr>
<tr class="row-odd"><td>Slice rows</td>
<td><tt class="docutils literal"><span class="pre">df[5:10]</span></tt></td>
<td>DataFrame</td>
</tr>
<tr class="row-even"><td>Select rows by boolean vector</td>
<td><tt class="docutils literal"><span class="pre">df[bool_vec]</span></tt></td>
<td>DataFrame</td>
</tr>
</tbody>
</table>

In [ ]:
df

In [ ]:
# Select index b

In [ ]:
# select the second row

In [ ]:
# select rows 2 and 3

In [ ]:
# Selecting a single value

In [ ]:
# Selecting two columns

In [ ]:
# Selecting with a boolean series

In [ ]:
# Cell by position